@page
@model HwEx1Razor.Pages.CountriesModel
@{
	<h1>Countries</h1>
	<ul class="custom-list">
		<li>
			<p>Asia:</p>
			<ul class="custom-list">
				<li>China</li>
				<li>Korea</li>
				<li>Iran</li>
			</ul>
		</li>

		<li>
			<p>Europe:</p>
			<ul class="custom-list">
				<li>Denmark</li>

				<li>France</li>

				<li>Germany</li>

				<li>Hungary</li>

				<li>Ireland</li>

				<li>Italy</li>

				<li>Lithuania</li>

				<li>Norway</li>

				<li>Poland</li>

				<li>Romania</li>

				<li>Sweden</li>

				<li>Ukraine</li>

				<li>United</li>

				<li>Kingdom</li>

				<li>England</li>

				<li>Northern Ireland</li>

				<li>
					Scotland and Wales
				</li>
			</ul>
		</li>

	</ul>
}
