@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@DateTime.Now.DayOfYear</h1>
    <h2 class="display-4">@Model.RandomLetter</h2>
</div>
