@page
@model HwEx1Razor.Pages.RestaurantModel
@{
	<h1>Restaurant five stars</h1>
	<h3>Menu:</h3>
	<ul class="custom-list">
		<li>
			<p>Drinks:</p>
			<ul class="custom-list">
				<li>Mojito</li>
				<li>Black tea</li>
				<li>Green tea</li>
				<li>Light beer</li>
				<li>Dark beer</li>
			</ul>
		</li>
		
		<li>
		<p>Dishes:</p>
			<ul class="custom-list">
				<li>Pizza mozarera</li>
				<li>Karri rice</li>
				<li>Tomato soup</li>
				<li>Nuggets</li>
				<li>Baked fish</li>
		</ul>
		</li>
		
	</ul>
}
